DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,mascotia.app,www.mascotia.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://mascotia.app,https://www.mascotia.app
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SECURE_REFERRER_POLICY=same-origin

MYSQL_DATABASE=newsletter
MYSQL_USER=mascotia_user
MYSQL_PASSWORD=change-this-password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=tu-correo@dominio.com
EMAIL_HOST_PASSWORD=tu-clave-app
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no-reply@mascotia.app
CONTACT_RECEIVER_EMAIL=josefa@mascotia.app
