DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,mascotia.app,www.mascotia.app

MYSQL_DATABASE=mascotia_db
MYSQL_USER=mascotia_user
MYSQL_PASSWORD=change-this-password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
